@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.stats-screen-container {
    width: 85%;
    margin: 0 auto;
    font-family: "Courier Prime", monospace !important;
}

mat-card {
    margin: 1rem 0;
}

.mat-mdc-card-title, .mat-mdc-card-subtitle {
    font-family: "Courier Prime", monospace !important;
}