.words-board {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 20px 0;

    background-color: var(--mat-sys-surface);
}

app-word {
    display: flex;
    margin:5px 0;
}