.user-container-page{
    width: 100%;
    display: flex;
}

.user-container{
    display: flex;
    flex-direction: column;
    width: 335px;
    /* height:50%; */
    margin: 10% auto;
    align-items: center;
}
mat-card{
    position: relative;
    margin: 10px 0;
    width: 100%;
    z-index: 10;
}

mat-icon{
    position: absolute;
    top:-15px;
    left:45%;
    z-index: 11;
    font-size: 35px;
    width: auto;
    height: auto;

    background-color: #fff;
    border-radius: 50%;
}

mat-form-field{
    margin: 40px 0;
    width: 100%;
}