<!-- <div class="board-container">
  @for (word of wordsLists; track $index) {
    <app-word 
    letter="{{ word }}"
    isLetterActive="{{ $index === letterActive }}"
    index="{{ $index }}"
    />
  }
</div> -->
<div class="board-container">
  <!-- <app-word
    *ngFor="let word of wordsLists; let i = index"
    [letter]="word"
    [isLetterActive]="i === letterActive"
    [index]="i"
  />-->

  <app-word
    *ngFor="let word of wordList; let i = index"
    [word] = "word"
    [wordIndex]="i"
    [isWordActive] = "i === indexWordActive"
  />

</div> 
@if (gameOver) {
<div>Juego copletado</div>
}
<!--
[class.active]="i === letterActive"


[ngClass]="{ 'red-color': product.price > 200 }" -->
