.mat-toolbar {
  background-color: #3f51b5;
  width: 100%;
  color: #fff;
}

.mat-mdc-card {
  width: 80%;
  margin: auto;
}

app-game {
  margin: auto  ;
  display: flex;
  /* min-height: 90dvh; */
  width: 80%;
}
