<app-toolbar (onStartNewGame)="handleNewGame()" (onRestartGame)="handleRestartGame()" />

<div class="start-screen" [ngClass]="{'show-in-screen': this._sprintModeHandlerService.showStartScreen()}">
  <!-- @if(this.showButton()) { -->
  <div class="header-container" [class.fade-out]="!this._sprintModeHandlerService.showButton()"
      [class.fade-in]="this._sprintModeHandlerService.showButton()">
    <h1>Sprint Mode</h1>
    <p>Escribe tantas palabras de 5 letras como puedas en menos de 30 segundos.</p>
  </div>

  <div class="start-button-container">
    <button class="start-button" [class.fade-out]="!this._sprintModeHandlerService.showButton()"
      [class.fade-in]="this._sprintModeHandlerService.showButton()"
      (click)="this._sprintModeHandlerService.startButtonClick()">
      Empezar!
    </button>
  </div>

  <!-- } -->

  <div class="countdown-seq-container">
    @if(this._sprintModeHandlerService.currentIndex() !== null) {
    <div class="countdown-item" [class.show]="this._sprintModeHandlerService.isVisible()">
      {{ this._sprintModeHandlerService.sequence[this._sprintModeHandlerService.currentIndex()!] }}
    </div>
    }
  </div>

</div>
<div class="game-content" [ngClass]="{'show-in-screen': !this._sprintModeHandlerService.showStartScreen()}">
  <div class="sprint-mode-header-container">
    <div>
      Puntuación: {{this._sprintModeHandlerService.userScore()}}
    </div>
    <div>
      Record: {{ this._sprintModeHandlerService.bestScore() }}
    </div>
    <span></span>
    <div>
      Tiempo: {{ this._timerService.userTime() }}
    </div>
  </div>
  <app-sprint-board />
  <app-typing-display [input]="this._sprintModeHandlerService.valueUserWritingSprintMode()"
    (onInput)="handleInputWritten($event)" />
</div>