@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.start-screen {
  display: none;
  width: 98%;
  flex-direction: column;
  font-family: "Courier Prime", monospace;
  min-height: 70%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.show-in-screen {
  display: flex !important;
}

.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
}

.header-container h1 {
  font-size: 40px;
}
.header-container p {
  font-size: 18px;
}

.header-container h1,
.header-container p {
  height: 50%;
  margin: 0 0 20px 0;
}

.start-button-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.start-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid transparent;
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 50;
}

.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
.start-button:hover {
  filter: brightness(105%);
}

.countdown-seq-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  z-index: 49;
}

.countdown-item {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.countdown-item.show {
  opacity: 1;
}

/* .start-screen button {
  flex-direction: row-reverse;
}

.start-screen button,.start-screen button mat-icon {
  margin: auto 0  !important;
} */

.game-content {
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  /* background-color: #fff; */
}

.sprint-mode-header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.sprint-mode-header-container div {
  width: 33%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.sprint-mode-header-container div mat-icon, .sprint-mode-header-container div label {
  margin: auto 3px;
}

.sprint-mode-header-container div mat-icon {
  display: none;
}

.sprint-mode-header-container span {
  width: 100%;
  height: 100%;
}

app-sprint-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 50%;
  /* margin: 5px auto auto 15px; */
  /* background-color: #fff; */
  display: flex;
  margin: 20px auto 20px auto;
}

.mat-mdc-card-content {
  height: 100%;
  display: flex;
  padding: 10px 0 !important;
}

input {
  margin: auto 5px !important;
  padding: 0;
  border: 1px solid transparent;
  font-size: 16px;
  width: 100%;
}

input:active,
input:focus-visible {
  outline: none;
}

app-typing-display {
  width: 80%;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {

  app-typing-display {
    width: 100%;
    flex-wrap: wrap;
  }
  .sprint-mode-header-container {
    flex-wrap: wrap;
  }
  .sprint-mode-header-container div {
    width: auto;
  }
  .sprint-mode-header-container div mat-icon {
    display: block;
  }
  .sprint-mode-header-container div label {
    display: none;
  }
  .sprint-mode-header-container span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .game-content {
    width: 98%;
  }
}
