<app-toolbar [showRestartButton]="false" (onStartNewGame)="handleNewGame()" />

<div class="start-screen" [ngClass]="{'show-in-screen': this._sprintModeHandlerService.showStartScreen()}">
  <!-- @if(this.showButton()) { -->
  <div class="start-button-container">
    <button class="start-button" [class.fade-out]="!showButton()" [class.fade-in]="showButton()"
      (click)="onStartButtonClick()">
      Empezar!
    </button>
  </div>

  <!-- } -->

  <div class="countdown-seq-container">
    @if(currentIndex() !== null) {
    <div class="countdown-item" [class.show]="isVisible()">
      {{ sequence[currentIndex()!] }}
    </div>
    }
  </div>

</div>
<div class="game-content" [ngClass]="{'show-in-screen': !this._sprintModeHandlerService.showStartScreen()}">
  <div class="sprint-mode-header-container">
    <div>
      Puntuación: {{this._sprintModeHandlerService.userScore()}}
    </div>
    <div>
      Record: {{ this._sprintModeHandlerService.bestScore() }}
    </div>
    <span></span>
    <div>
      Tiempo: {{ this._timerService.userTime() }}
    </div>
  </div>
  <app-sprint-board />
  <app-typing-display [input]="this._sprintModeHandlerService.valueUserWritingSprintMode()"
    (onInput)="handleInputWritten($event)" />
</div>