<mat-toolbar color='primary'>
    <div class="items-container m-l">
        <a mat-button class="item-page-name" routerLink="/">
            <span>Mecanography app</span>
            <mat-icon>favorite</mat-icon>
        </a>
    </div>
    <div class="items-container">
        <a mat-button routerLink="/user">
            <span class="item-span-txt">Usuario</span>
            <mat-icon>person</mat-icon>
        </a>
    
        <a mat-button routerLink="/">
            <span class="item-span-txt">Juego</span>
            <mat-icon>keyboard</mat-icon>
        </a>
    
        <a mat-button routerLink="/stats">
            <span class="item-span-txt">Estadísticas</span>
            <mat-icon>bar_chart</mat-icon>
        </a>
    </div>
    <div class="items-container m-r">
        <div class="item-page">
            <a mat-button (click)="onRefreshClick()"><mat-icon>refresh</mat-icon></a>
        </div>
        <div class="item-page" (click)="onClickSound()">
            <a mat-button class="item-page-sound" [ngClass]="{active: this._appStateService.isSoundActive()}"><mat-icon>volume_up</mat-icon></a>
            <a mat-button class="item-page-sound" [ngClass]="{active: !this._appStateService.isSoundActive()}"><mat-icon>volume_off</mat-icon></a>
        </div>
        
    </div>
</mat-toolbar>