mat-toolbar,mat-toolbar mat-icon,mat-toolbar label,mat-toolbar span {
    overflow-y: auto;
    /* background-color: var(--mat-badge-background-color);
    color: var(--mat-badge-text-color); */
    
    /*#005cbb*/
    /* background-color: var(--mat-toolbar-container-background-color);
    color:var(--mat-toolbar-container-text-color); */
    /* background-color: var(--toolbar-bg-color);
    color: var(--toolbar-color); */
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    
}
.items-container {
    margin: auto;
    display: flex;
}

.items-container a {
    margin:auto 5px;
}

.item-page-name.none{
    opacity: 0;
    user-select: none;
}

.item-page-sound{
    display: none;
}
.item-page-sound.active{
    display: flex;
}

.item-page-theme {
    display: none;
}
.item-page-theme.active {
    display: flex;
}

.m-r{
    margin:auto 0 auto auto;
}

.m-l{
    margin:auto auto auto 0;
}

.hidden {
    display: none;
}

@media screen and (max-width: 720px) {
    .item-page-name,.spacer-vertical {
        display: none;
    }
    .item-span-txt{
        display: none;
    }

    .items-container{
        justify-content: space-between;
    }
    .items-container.m-r{
        justify-content: flex-end;
    }
}