mat-toolbar,
mat-toolbar mat-icon,
mat-toolbar label,
mat-toolbar span {
  padding: 0;
  /* background-color: var(--mat-badge-background-color);
    color: var(--mat-badge-text-color); */

  /*#005cbb*/
  /* background-color: var(--mat-toolbar-container-background-color);
    color:var(--mat-toolbar-container-text-color); */
  /* background-color: var(--toolbar-bg-color);
    color: var(--toolbar-color); */
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

mat-toolbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.items-container {
  margin: auto 0;
  display: flex;
  width: 33%;
}

.item-mobile-container {
  width: auto;
  display: none;
}

.item-page-name.none {
  opacity: 0;
  user-select: none;
}

.w-33 {
  width: 33%;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.item-page-sound {
  display: none;
}
.item-page-sound.active {
  display: flex;
}

.item-page-theme {
  display: none;
}
.item-page-theme.active {
  display: flex;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  mat-toolbar {
    width: 98%;
  }
  .spacer-vertical,
  .items-container a span,
  .items-container .item-page-name mat-icon{
    display: none;
  }

  .items-container .item-page-name span {
    display: block;
  }

}
@media screen and (max-width: 768px) {
  .items-container{
    display: none;
  }

  .item-mobile-container {
    display: block;
    padding: 0 2px
  }
}