mat-toolbar{
    overflow-y: auto;
}
.items-container {
    margin: auto;
    display: flex;
}

.items-container a {
    margin:auto 5px;
}

.item-page-name.none{
    opacity: 0;
    user-select: none;
}

.item-page-sound{
    display: none;
}
.item-page-sound.active{
    display: flex;
}

.m-r{
    margin:auto 0 auto auto;
}

.m-l{
    margin:auto auto auto 0;
}

@media screen and (max-width: 720px) {
    .item-page-name,.spacer-vertical {
        display: none;
    }
    .item-span-txt{
        display: none;
    }

    .items-container{
        justify-content: space-between;
    }
    .items-container.m-r{
        justify-content: flex-end;
    }
}