div {
    display: flex;
    border:1px solid transparent;
    min-width: 15px;
    min-height: 100%;
    
}


div.active {
    border: 1px solid blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

p{
    margin: auto;
    text-align: center;
}