@use "@angular/material" as mat;

@include mat.core();

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
}

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
  ))
}

html.dark-theme {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$spring-green-palette,
  ))
}

app-root,
app-game,
app-sprint-mode {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}