/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.mdc-button__label {
  /* color:#3f51b5; */
  /* color: rgba(255, 255, 255, 0.87); */
}

app-game {
  height: 90%;
  width: 98%;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  app-toolbar {
    height: 10%;
    width: 100%;
  }

  app-game {
    height: 80%;
  }
}