/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-height: 100dvh;
    display: flex;
}

app-root{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

app-game {
    height: auto;
}

.mdc-button__label{
    /* color:#3f51b5; */
    color: rgba(255, 255, 255, 0.87)
}

@media screen and (max-width: 720px) {
    body{
        max-height: 100dvh;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
